
.wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}
/* .wrapper > .about > .skills {
    display: flex;
} */

h1 {
    text-align: center;
}

h1,
p {
 color: var(--primary-blue);
}

.buttoncontainer {
    display: flex;
    justify-content: center;
  }
  
  .btn-primary {
    background-color: var(--primary-blue) !important;
    border-color: var(--primary-white) !important;
  }
  
  .btn-primary:hover {
    background-color: var(--primary-orange) !important;
    border-color: var(--primary-white) !important;
  }
